header{
	background-color:#AED6F1;
	height:50px;
  min-height:15%;
  font-family: Trebuchet MS, sans-serif;
}

body{
  font-family: Trebuchet MS, sans-serif;
}

section{
  margin: 30px 10% 30px 10%;
  border: solid black 2px;
}

h3{
  text-align: center;
}

#area-chart{
  text-align: center;
}

#graph{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#titre
{
	text-align: center;
	font: small-caps bold 35px Trebuchet MS, sans-serif;
	letter-spacing: 5px;
	position: fixed;
	margin-top: -50px;
	width: calc(100% - 6px);
}

#histo{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#listeHisto{
  text-align: center;
  font-size: 1.1em;
  margin: 20px 0;
}

.barre_navigation img {
  height: 50px;
  width: 50px;
  float: left;
}
.barre_navigation {
  overflow: hidden;
}

.barre_navigation a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.barre_navigation a:hover {
  border-bottom: 2px solid #82AFCC;
  color: #82AFCC;
}

