/*      BODY      */
body {
	margin: 0;
	min-height:7em;
}
/*BARRE DE NAVIGATION*/
header{
	background-color:#AED6F1;
	height:250px;
	min-height:15%;
}
.barre_navigation {
	overflow: hidden;
}
.barre_navigation a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}
.barre_navigation img {
	height: 50px;
	width: 50px;
	float: left;
}
.texte img{
	height: 200px;
	width: 100%;
}
.barre_navigation a:hover {
	border-bottom: 2px solid #82AFCC;
	color: #82AFCC;
}
/*BOUTON MULTILANGUE*/
.barre_navigation .test{
	float: right;
	width:50px;
	height:50px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}

/*FORMULAIRE DU TICKET*/
.formulaireTicket {
	position: absolute;
	top: 40%;
	left: 35%;
}
/*DIFFERENTS INPUTS*/
input[type=submit] {
	width: 12,5%;
	background-color: #AED6F1;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
	display: block;
	margin: auto;
}
input[type=submit]:hover {
	background-color: #70B1CB;
}
textarea {
	padding:5px;
	border:1px solid #AED6F1;
	border-radius:5px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
	display: block;
	margin-top: 10px;
	resize: none;
	width: 500px;
}

.container-fluid {
	position: absolute;
	top: 100%;
	left: 10%;
	right: 10%;
}

table {
	border-collapse: collapse;
}

table, tr, td {
	padding-right: 50px;
}

.entete{
	font:bold 15px Arial;
}

tr:nth-child(even) {
	background-color: rgb(215, 237, 252);
}
p{
	font:bold 15px Arial;
}
