form {
 padding:10px;
 width:500px;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 width : 100%;
 border:1px solid #AED6F1;
 }
legend {
 color:#AED6F1;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }

textarea {
 padding:3px;
 border:1px solid #AED6F1;
 border-radius:5px;
 width:300px;
 height: 100px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }

 input[type=text] {
   padding:3px;
   border:1px solid #AED6F1;
   border-radius:5px;
   width:300px;
   height: 100px;
   box-shadow:1px 1px 2px #C0C0C0 inset;
 }

 button{
   background-color: #FFFFFF;
   border: none;
   text-align: center; /* Center-align text */
   padding: 16px; /* Add some padding */
   transition: all 0.3s ease; /* Add transition for hover effects */
   color: black; /* White text color */
   font-size: 36px; /* Increased font-size */
 }

 .barre_navigation .test{
    float: right;
   width:50px;
  	height:50px;
  	background:#fafafa;
  	box-shadow:2px 2px 8px #aaa;
  	font:bold 13px Arial;
  	border-radius:50%;
  	color:#555;
 }
