
body{
	font-family: Helvetica Neue;
}

section{
  margin: 30px 10% 30px 10%;
  border: solid black 2px;
}

h3{
  text-align: center;
}

#area-chart{
  text-align: center;
}

#graph{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#titre
{
	text-align: center;
	font: small-caps bold 35px Trebuchet MS, sans-serif;
	letter-spacing: 5px;
	position: fixed;
	margin-top: -50px;
	width: calc(100% - 6px);
}

#histo{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#listeHisto{
  text-align: center;
  font-size: 1.1em;
  margin: 20px 0;
}

.barre_navigation .test{
   float: right;
  width:50px;
 	height:50px;
 	background:#fafafa;
 	box-shadow:2px 2px 8px #aaa;
 	font:bold 13px Arial;
 	border-radius:50%;
 	color:#555;
}

.button{
 border:1px solid #ebb7b7;
 border-radius: 3px;
 font-size:12px;
 font-family:arial, helvetica, sans-serif;
 padding: 10px 10px 10px 10px;
 text-decoration:none;
 display:inline-block;
 text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
 font-weight:bold;
 color: #FFFFFF;
 background-color: #f7e3e3;
 background-image: linear-gradient(to bottom, #f7e3e3, #ffd7d7);
}

.button:hover{
 border:1px solid #e09494;
 background-color: #ecbbbb;
 background-image: linear-gradient(to bottom, #ecbbbb, #ffa4a4);
}
