/*      BODY      */
body {
  margin: 0;
  min-height:7em;
}

/*      BOUTON MULTILANGUE      */
.barre_navigation .test{
	float: right;
	width:50px;
	height:50px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}

/*BOUTON DU TEST DE SUIVI*/
.testSuivi{
	position: absolute;
	left: 25%;
	width: 50%;
	height: 350px;
}
/*BOUTON DU TEST COMPLET*/
.testComplet{
	position: absolute;
	top: 50%;
	left: 25%;
	width: 50%;
	height: 400px;
}
/*STYLE POUR CHAQUE MESURE*/
.tests{
	font-family: Arial;
	line-height: 30px;
	text-align: left;
	font-size : large;
}

p{
	margin-left: 100px;
	display: flex;
	align-items:center;
}

button{
	background-color: #FFFFFF;
	font-size : small;
	font-family: Arial;
	border-radius: 10px;
}

strong{
	font-size: xx-large;
	display:block;
	text-align: center;
}
