header{
	background-color:#AED6F1;
	height:50px;
	min-height:15%;
}

.barre_navigation img {
  height: 50px;
  width: 50px;
  float: left;
}
.barre_navigation {
  overflow: hidden;
}

.barre_navigation a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.barre_navigation a:hover {
  border-bottom: 2px solid #82AFCC;
  color: #82AFCC;
}

.Test1
{
	font-family: Arial;
	line-height: 30px;
	text-align: left;
	font-size : large;

}

p
{
	margin-left: 100px;
	display: flex;
	align-items:center;
}


button
{
	background-color: #FFFFFF;
	font-size : small;
	font-family: Arial;
	border-radius: 10px;
}

strong
{
	font-size: xx-large;
	display:block;
	text-align: center;
}

.btn1
{
	margin-left: 275px;
	margin-top: 40px;
	margin-bottom: 40px;

	width: 1000px;
	height: 350px;
}
.btn2
{
	margin-left: 275px;
	margin-top: 40px;
	margin-bottom: 40px;

	width: 1000px;
	height: 500px;
}

.barre_navigation .test{
   float: right;
  width:50px;
 	height:50px;
 	background:#fafafa;
 	box-shadow:2px 2px 8px #aaa;
 	font:bold 13px Arial;
 	border-radius:50%;
 	color:#555;
}
