/*STYLE POUR TOUT*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*BODY*/
html, body {
  height: 100%;
}

/*PARTIE GAUCHE*/
div#gauche {
  width: 50%;
  height: 100%;
  float: left;
  background-color: #AED6F1;
}

div#gauche p {
  position: absolute;
  top: 50%;
  left: 25%;
  transform:translate(-50%, -50%);
  font-size: 20px;
}

/*PARTIE DROITE*/
div#droite {
  width: 50%;
  height: 100%;
  float: left;
  background-color: white;
}
#boutonsReseau{
  text-align: center;
  margin-top: 25px;
}
.boutonReseau{
  margin-left: 15px;
  margin-right: 15px;
}
.reseaux{
  margin: 20px 50px;
  font-size: 17px;
}
<<<<<<< Updated upstream
=======

#twitter-button, #facebook-button{
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 5px 10px 30px;
  border-radius : 3px;
  text-align: center;
  margin: 5px auto;
}

#twitter-button{
  width: 250px;
}

#facebook-button{
  background-color: #1877f2;
  width: 280px;
}

#twitter-button:hover{
  background-color: #55acee;
}




.btn-social>:first-child{
  border-right: none !important;
  left: 5px !important;
  top: 2px !important;
  right: 150px !important;
}


>>>>>>> Stashed changes
.logodescription .logo {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}
.logodescription{
  margin: 50px 20px;
}
.logodescription .desc{
  font-size: 20px;
  margin: 20px 150px;
}
.logodescription .desc .lien{
  margin-left: 30px;
}
/*BOUTON MULTILANGUE*/
 .test{
	float: right;
	width:50px;
	height:50px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}

/*STYLE DES BOUTONS*/
input[type=text], input[type=password] {
  width: 12,5%;
  padding: 12px 20px;
  margin: 15px 15px 15px 50px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 12,5%;
  background-color: #AED6F1;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
input[type=submit]:hover {
  background-color: #70B1CB;
}
