header{
    background-color:#AED6F1;
    height:250px;
    min-height:15%;
  }
  
  .texte img{
    height: 300px;
    width: 100%;
  }
  
  .barre_navigation img {
    height: 50px;
    width: 50px;
    float: left;
  }
  .barre_navigation {
    overflow: hidden;
  }
  
  .barre_navigation a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .barre_navigation a:hover {
    border-bottom: 2px solid rgb(69, 81, 187);
    color: rgb(69, 81, 187);
  }