.topnav{
    margin-top:100px;
    margin-left:40%;
    width: 500px;
  }

  .topnav input {
    height:50px;
    width:60%;
    font-size: 20px;
  }

  .Rechercher{
    background: #AED6F1;
    display: block;
    margin: auto;
    border: 0;
    font-size: 16px;
    border-radius: 4px;
  }

  .filtres{
    display:flex;
    margin-left:30%;
  }

  .barre_navigation .test{
     float: right;
    width:50px;
   	height:50px;
   	background:#fafafa;
   	box-shadow:2px 2px 8px #aaa;
   	font:bold 13px Arial;
   	border-radius:50%;
   	color:#555;
  }
