header
{
	background-color: #86cbe2;
	line-height : 200px;
	color : #4d59cb;
	font-size: 80px;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;
	text-align: center;
	font-family: Arial;
}

.questions
{
	font-family: Arial;
	line-height: 100px;
	text-align: left;
	margin-left: 400px;
	margin-top: 50px;

	font-size : large;
	font-family: Arial;
}

.contact
{
	font-family: Arial;
	line-height: 100px;
	text-align: left;

	margin-left: 400px;
	margin-top: 150px;
	margin-bottom: 150px;

	font-size : large;
	font-family: Arial;
}
footer
{
	background-color: #f6f6f6;

	font-size : small;
	font-family: Arial;

	margin-right: -8px;
	margin-left: -8px;
	margin-bottom: -8px;

	text-align: center;
	background-height: 200px;

}
.btnacc, .btndeco

{
	font-size : small;
	font-family: Arial;
	background-color: #ffab40;
	border-radius: 5px;
}
#logo img
{
	width:10%;
	height: 10%;
	float:left;
}
